# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
out/
.next/
.turbo/

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Other
.env*
.DS_Store
*.tsbuildinfo
